@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your here a little early. This site is still under construction.</p> 
    <p>In the meantime, feel free to check out the project on: <a href="https://www.worldanvil.com/w/the-towers-of-daedalus-thedrakonlord">world anvil</a></p> 
</div>
