@page
@using TowerOfDaedalus_WebApp_Razor.Properties
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <style>
        body {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            padding: 0px;
            background: url(@Resources.imgUriBackground) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #wrapper {
            text-align: center;
            margin: 0 auto;
            padding: 0px;
            width: 995px;
            background-color: white;
        }

        h1 {
            margin-top: 150px;
            color: grey;
            font-size: 45px;
            background-color: white;
        }

        text-center {
            background-color: white;
        }
    </style>
</head>
<body>
    <div id="wrapper">

        <div class="text-center">
            <h1 class="display-4"><b>Welcome</b></h1>
            <p>Your here a little early. This site is still under construction.</p>
            <p>In the meantime, feel free to check out the project on: <a href="https://www.worldanvil.com/w/the-towers-of-daedalus-thedrakonlord">world anvil</a></p>
        </div>
    </div>
</body>